@import 'tailwindcss';

.iconHover:hover {
    box-sizing: border-box;
    background-color: #e4e4e7;
    cursor: pointer;
    z-index: 10;
}

.iconHover>* {
    position: relative;
    z-index: 20;
}

.masonryGrid {
    width: 100%;
    columns: 280px;
    column-gap: 1em;
}

.masonryGrid article {
    max-width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    width: 100%;
}


.alternativeDisplay {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alternativeDisplay article {
    margin: auto;
    width: 100%;
    max-width: 600px;
    max-height: 300px;
}

.pageContent {
    display: flex;
    flex-direction: column;
    position: relative;
}


.mainContentLayout {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: auto;
}

.aside-page {
    position: fixed;
}

.aside-page:hover,
.asideIsHover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 280px;
}


.aside-page:hover section div:first-child {
    background-color: #feefc3;
    cursor: pointer;
}

.aside-page section div:hover {
    background-color: #e4e4e7;
    cursor: pointer;
}


/* Box shadows */

.contourShadow {
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.75);
}